---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/ui/nav/Navbar.astro";
import TypingAnimation from "@/components/ui/TypingAnimation";
import SocialButton from "@/components/ui/SocialButton.astro";
import cat from "@/../public/assets/hero-section-animation.gif";
import me from "@/../public/assets/me.jpg";
import cv from "/assets/cv.pdf";
import { Github, Linkedin, Mail, FileUser } from "lucide-react";
import ProjectCard from "@/components/ui/ProjectCard";
import ExperienceCard from "@/components/ui/ExperienceCard";
import TechStack from "@/components/ui/TechStack.astro";
import { getCollection } from "astro:content";
import type { Project } from "@/models/project";
import type { Experience } from "@/models/experience";
import SplashScreen from "@/components/SplashScreen.astro";
import HoverMe from "@/components/HoverMe.astro";

const personalProjects = await getCollection("projects");
const sortedPersonalProjects = personalProjects.sort(
	(a: Project, b: Project) => (a.data.date > b.data.date ? -1 : 1)
);
const latestPersonalProjects = sortedPersonalProjects.slice(0, 3);

const experiences = await getCollection("experiences");
const sortedExperiences = experiences.sort((a: Experience, b: Experience) =>
	a.data.date > b.data.date ? -1 : 1
);

const social = [
	{
		href: "mailto:fahridanaaa@gmail.com",
		title: "email",
		ariaLabel: "email",
		icon: Mail,
	},
	{
		href: "https://www.linkedin.com/in/fahridana-ahmad-rayyansyah/",
		title: "linkedIn",
		ariaLabel: "linkedIn",
		icon: Linkedin,
	},
	{
		href: "https://github.com/Fahridanaa",
		title: "github",
		ariaLabel: "github",
		icon: Github,
	},
	{
		href: cv,
		title: "cv",
		ariaLabel: "cv",
		icon: FileUser,
	},
];

const languages = [
	{ language: "English", greeting: "Hi" },
	{ language: "Spanish", greeting: "Hola" },
	{ language: "French", greeting: "Bonjour" },
	{ language: "German", greeting: "Hallo" },
	{ language: "Japanese", greeting: "こんにちは" },
	{ language: "Mandarin", greeting: "你好" },
	{ language: "Arabic", greeting: "مرحبا" },
	{ language: "Hindi", greeting: "नमस्ते" },
	{ language: "Indonesia", greeting: "Halo" },
	{ language: "Work In Progress", greeting: "WIP" },
];

const favoredLanguages = ["PHP", "Typescript", "Python", "Go"];
---

<Layout title="Fahridana Ahmad Rayyansyah">
	<article id="hero" class="max-w-5xl w-full mx-auto">
		<section class="min-h-dvh flex flex-col justify-center items-center">
			<div
				class="w-full flex flex-col-reverse items-center sm:flex-row justify-between sm:items-stretch">
				<div class="max-w-2xl flex flex-col justify-evenly mb-4">
					<div class="text-md sm:text-2xl lg:text-4xl">
						<h1>
							Hi,<span class="wave">👋</span> I'm Fahridana Ahmad Rayyansyah,
						</h1>
						<TypingAnimation client:visible />
						<p class="text-[#8d7e61]">Proud Bug Maker & Solver</p>
					</div>
					<div class="flex gap-2">
						{
							social.map((item) => (
								<SocialButton
									href={item.href}
									title={item.title}
									ariaLabel={item.ariaLabel}
									icon={item.icon}
								/>
							))
						}
					</div>
				</div>
				<Image
					width={300}
					height={219}
					src={cat}
					alt="A pixel animation featuring a black cat with a waving tail sitting on grass. The black cat has yellow eyes and is wearing a red collar with a gold bell."
					class={`hover:-translate-y-2 transition-transform`}
					loading={"eager"}
				/>
			</div>
			<div class="absolute bottom-6 left-1/2 -translate-x-1/2">
				<a
					href="#about-me"
					class="arrow-down"
					aria-label="arrow-down"
					title="arrow-down">
				</a>
			</div>
		</section>
	</article>
	<article id="about-me" class="max-w-5xl w-full mx-auto">
		<section class="grid md:grid-cols-2 items-center px-4 my-4 md:px-0">
			<div></div>
			<div class="flex gap-2 items-center">
				<h2 class="text-[#8d7e61] text-2xl font-semibold">About Me</h2>
				<div class="bg-[#8d7e61] h-[2px] rounded-md my-4 flex-1"></div>
			</div>
		</section>
		<section class="grid md:grid-cols-2 items-center px-4 md:px-0">
			<div class="flex flex-col items-center">
				<div
					data-avatar-reveal
					class="avatar-reveal hidden md:block relative md:h-80 md:w-80 rounded-full overflow-hidden border-4 border-[#8d7e61]">
					<Image
						src={me}
						alt={`Me`}
						loading={`eager`}
						width={2048}
						height={2048}
						class="w-full h-full object-cover"
					/>
				</div>
			</div>
			<div class="flex flex-col items-center">
				<p class="text-base md:text-lg leading-loose mb-3 text-justify">
					I build things on the internet and enjoy solving problems.
					Watching something grow from nothing feels meaningful to me.
					I don't chase fancy solutions—just things that make sense
					and actually work. My work moves between frontend, backend,
					and everything in between, and I like understanding things
					at their core rather than forcing complicated fixes.
				</p>
				<p class="text-base md:text-lg leading-loose mb-6 text-justify">
					When I'm not coding, I usually play games like Roblox or Factorio, explore new interests, or just take time to think.
					It keeps me balanced and helps me stay curious.
				</p>
			</div>
		</section>
		<section class="grid md:grid-cols-2 items-center mt-4 px-4 md:px-0">
			<a
				href="#contact"
				class="border-2 border-[#8d7e61] col-start-2 text-center font-semibold text-[#8d7e61] rounded-md p-4 hover:bg-[#72674e] hover:text-white hover:tracking-wider transition-all duration-300"
				>Say Hi!</a
			>
		</section>
	</article>
	<article id="fav-lang" class="max-w-5xl w-full mx-auto">
		<section class="flex items-center gap-2 my-4">
			<div class="flex gap-2 items-center">
				<h2 class="text-[#8d7e61] text-2xl font-semibold">
					Favorite Language
				</h2>
			</div>
			<div class="bg-[#8d7e61] h-[2px] rounded-md my-4 flex-1"></div>
		</section>
		<section class="my-6">
			<div class="flex justify-between items-center max-w-4xl mx-auto">
				{
					favoredLanguages.map((tech: string) => (
						<TechStack tech={tech} size="large" />
					))
				}
			</div>
		</section>
	</article>
	<article id="experience" class="max-w-5xl w-full mx-auto px-4 md:px-0">
		<section class="flex items-center gap-2 my-4">
			<div class="flex gap-2 items-center">
				<h2 class="text-[#8d7e61] text-2xl font-semibold">
					Experience
				</h2>
			</div>
			<div class="bg-[#8d7e61] h-[2px] rounded-md my-4 flex-1"></div>
			<div class="w-64 hidden md:block"></div>
		</section>
		<section class="my-8 relative">
			{
				sortedExperiences.map(
					(experience: Experience, index: number) => (
						<ExperienceCard
							experience={experience.data}
							index={index}
							client:visible
						/>
					)
				)
			}
		</section>
	</article>
	<article
		id="projects"
		class="relative max-w-5xl w-full mx-auto overflow-hidden">
		<!-- <section class="flex items-center gap-2 my-4">
			<div class="bg-[#8d7e61] h-[2px] rounded-md my-4 flex-1"></div>
			<div class="flex gap-2 items-center">
				<h2 class="text-[#8d7e61] text-2xl font-semibold">
					Latest <a
						href="#"
						class="text-[#2E5C37] cursor-pointer hover:tracking-wider transition-all duration-300"
						title="All Projects">Projects</a
					>
				</h2>
			</div>
			<div class="bg-[#8d7e61] h-[2px] rounded-md my-4 flex-1"></div>
		</section> -->
		<section class="flex items-center gap-2 my-4">
			<div class="flex gap-2 items-center">
				<h2 class="text-[#8d7e61] text-2xl font-semibold">
					Latest <a
						href="#"
						class="text-[#2E5C37] cursor-pointer hover:tracking-wider transition-all duration-300"
						title="All Projects">Projects</a
					>
				</h2>
			</div>
			<div class="bg-[#8d7e61] h-[2px] rounded-md my-4 flex-1"></div>
			<div class="w-64 hidden md:block"></div>
		</section>
		<section class="my-6">
			<div class="hidden lg:flex justify-end w-full mr-12">
				<HoverMe />
			</div>
			<div class="flex flex-col justify-center items-center">
				{
					latestPersonalProjects.map(
						(project: Project, index: number) => (
							<>
								<ProjectCard
									project={project.data}
									href={`/assets/projects/${project.slug}/cover.webp`}
									isReverse={index % 2 === 0}
									client:load
								/>
							</>
						)
					)
				}
				<!-- <div class="text-center text-2xl my-16">
					<div
						class="flex justify-center items-center w-full h-full"
						style="opacity: 1; transform: none; will-change: auto;">
						<p>
							Checkout out more on my <a
								href="https://github.com/Fahridanaa"
								target="_blank"
								class="text-[#2E5C37] relative inline-block transition-all duration-300 hover:no-underline">
								<span class="relative">
									Github
									<span
										class="absolute left-0 bottom-0 w-0 h-[2px] bg-[#2E5C37] transition-all duration-300 group-hover:w-full"
									></span>
								</span>
							</a>
						</p>
					</div>
				</div> -->
			</div>
		</section>
	</article>
	<article id="blog" class="max-w-5xl w-full mx-auto">
		<section class="flex items-center gap-2 my-4">
			<div class="flex gap-2 items-center">
				<h2 class="text-[#8d7e61] text-2xl font-semibold">Blog</h2>
			</div>
			<div class="bg-[#8d7e61] h-[2px] rounded-md my-4 flex-1"></div>
			<div class="w-64 hidden md:block"></div>
		</section>
		<section class="my-6">
			<p>Some blog content will be here</p>
		</section>
	</article>
	<article id="contact" class="max-w-5xl w-full mx-auto">
		<section class="flex items-center gap-2 my-4">
			<div class="bg-[#8d7e61] h-[2px] rounded-md my-4 flex-1"></div>
			<div class="flex gap-2 items-center">
				<h2 class="text-[#8d7e61] text-2xl font-semibold">Contact</h2>
			</div>
			<div class="bg-[#8d7e61] h-[2px] rounded-md my-4 flex-1"></div>
		</section>
		<h2 class="text-lg font-semibold text-center">Want to Collaborate?</h2>
		<h2 class="text-4xl font-bold text-center">Let's Have a Chat</h2>
		<section class="flex flex-col justify-center items-center gap-2">
			<p class="text-base md:text-xl leading-loose mb-6 text-center">
				Feel free to reach out to me if you have any questions, want to
				collaborate on a project, or just want to chat. I'm always open
				to new opportunities and connections.
			</p>
			<div class="flex gap-2">
				{
					social.map((item) => (
						<SocialButton
							href={item.href}
							title={item.title}
							ariaLabel={item.ariaLabel}
							icon={item.icon}
						/>
					))
				}
			</div>
		</section>
	</article>
	<footer
		class="max-w-5xl text-gray-500 w-full mx-auto mt-24 mb-6 text-center">
		<p class="text-base md:text-lg leading-loose">
			&copy; {new Date().getFullYear()} Fahridana Ahmad Rayyansyah. All rights
			reserved.
		</p>
		<p class="text-base md:text-lg leading-loose">
			This site showcases my personal projects. Content may not be used
			without permission.
		</p>
	</footer>
	<Navbar />
	<SplashScreen languages={languages} />
</Layout>

<style>
	.wave {
		display: inline-block;
		animation: wave 2s infinite;
		transform-origin: 70% 70%;
	}

	.arrow-down {
		display: inline-block;
		opacity: 0;
		width: 24px;
		height: 24px;
		border: solid 2px transparent;
		border-bottom-color: #8d7e61;
		border-right-color: #8d7e61;
		transform: rotate(45deg);
		animation: arrow-bounce 2s infinite;
	}

	@keyframes arrow-bounce {
		0%,
		100% {
			transform: translateY(0) rotate(45deg);
			opacity: 0;
		}
		50% {
			transform: translateY(10px) rotate(45deg);
			opacity: 1;
		}
	}

	@keyframes wave {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(14deg);
		}
		20% {
			transform: rotate(-8deg);
		}
		30% {
			transform: rotate(14deg);
		}
		40% {
			transform: rotate(-4deg);
		}
		50% {
			transform: rotate(10deg);
		}
		60% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
</style>
