---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/ui/nav/Navbar.astro";
import TypingAnimation from "@/components/ui/TypingAnimation";
import SocialButton from "@/components/ui/SocialButton.astro";
import cat from "@/../public/assets/hero-section-animation.gif";
import cv from "@/../public/assets/cv_ats.pdf";
import { Github, Linkedin, Mail, FileUser } from "lucide-react";
---

<Layout title="Fahridana Ahmad Rayyansyah">
	<div class="min-h-[100svh] flex flex-col justify-center items-center">
		<div
			class="w-full flex flex-col md:flex-row justify-between items-center">
			<div class="max-w-2xl text-4xl">
				<h1>
					Hi,<span class="wave">👋</span> I'm Fahridana Ahmad Rayyansyah,
				</h1>
				<p>A <TypingAnimation client:only /></p>
				<p class="text-[#8d7e61] mt-2">Proud Bug Maker & Solver</p>
			</div>
			<Image
				width={300}
				height={300}
				src={cat}
				alt="A pixel animation featuring a black cat with a waving tail sitting on grass. The black cat has yellow eyes and is wearing a red collar with a gold bell."
				loading={"eager"}
			/>
		</div>
		<div class="w-full flex gap-2">
			<SocialButton
				href="mailto:fahridanaaa@gmail.com"
				target="_blank"
				title="email"
				ariaLabel="email"
				icon={Mail}
			/>
			<SocialButton
				href="https://www.linkedin.com/in/fahridana-ahmad-rayyansyah/"
				target="_blank"
				title="linkedIn"
				ariaLabel="linkedIn"
				icon={Linkedin}
			/>
			<SocialButton
				href="https://github.com/Fahridanaa"
				target="_blank"
				title="Github"
				ariaLabel="Github"
				icon={Github}
			/>
			<SocialButton
				href={cv}
				target="_blank"
				title="CV"
				ariaLabel="CV"
				icon={FileUser}
			/>
		</div>
		<div class="absolute bottom-6 left-1/2 transform-translate-x-12">
			<span class="arrow-down"></span>
		</div>
	</div>
	<div class="my-6">
		<h2 class="text-3xl font-semibold mb-2">About Me</h2>
		<p class="text-base md:text-xl leading-relaxed mb-8">
			I am an Informatics Engineering student with a passion for creating
			web applications. My expertise lies in front-end development, where
			I focus on crafting user-friendly and responsive interfaces that
			provide seamless experiences. I enjoy collaborating on dynamic
			projects that challenge my skills and creativity.
		</p>
		<p class="text-base md:text-xl leading-relaxed mb-8">
			My interests revolve around building elegant web solutions and
			staying updated with the latest in front-end technologies. Alongside
			my front-end expertise, I am currently exploring backend development
			and mobile application development to expand my skill set and
			deliver more comprehensive solutions. I enjoy experimenting with
			frameworks, design systems, and tools that enhance development
			efficiency and creativity.
		</p>
		<p class="text-base md:text-xl leading-relaxed mb-8">
			When I'm not coding, you can find me exploring new hobbies, gaming
			to relax, or diving into books about technology and self-growth.
		</p>
	</div>
</Layout>
<Navbar />

<style>
	.wave {
		display: inline-block;
		animation: wave 2s infinite;
		transform-origin: 70% 70%;
	}

	.arrow-down {
		display: inline-block;
		opacity: 0;
		width: 24px;
		height: 24px;
		border: solid 2px transparent;
		border-bottom-color: #8d7e61;
		border-right-color: #8d7e61;
		transform: rotate(45deg);
		animation: arrow-bounce 2s infinite;
	}

	@keyframes arrow-bounce {
		%0,
		100% {
			transform: translateY(0) rotate(45deg);
			opacity: 0;
		}
		50% {
			transform: translateY(10px) rotate(45deg);
			opacity: 1;
		}
	}

	@keyframes wave {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(14deg);
		}
		20% {
			transform: rotate(-8deg);
		}
		30% {
			transform: rotate(14deg);
		}
		40% {
			transform: rotate(-4deg);
		}
		50% {
			transform: rotate(10deg);
		}
		60% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
</style>
