---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/ui/nav/Navbar.astro";
import TypingAnimation from "@/components/ui/TypingAnimation";
import SocialButton from "@/components/ui/SocialButton.astro";
import cat from "@/../public/assets/hero-section-animation.gif";
import cv from "@/../public/assets/cv_ats.pdf";
import { Github, Linkedin, Mail, FileUser } from "lucide-react";
import ProjectCard from "@/components/ui/ProjectCard";
import TechStack from "@/components/ui/TechStack.astro";
import { getCollection } from "astro:content";
import type { Project } from "@/models/project";

const personalProjects = await getCollection("projects");
const sortedPersonalProjects = personalProjects.sort(
	(a: Project, b: Project) => (a.data.date > b.data.date ? -1 : 1)
);

const social = [
	{
		href: "mailto:fahridanaaa@gmail.com",
		title: "email",
		ariaLabel: "email",
		icon: Mail,
	},
	{
		href: "https://www.linkedin.com/in/fahridana-ahmad-rayyansyah/",
		title: "linkedIn",
		ariaLabel: "linkedIn",
		icon: Linkedin,
	},
	{
		href: "https://github.com/Fahridanaa",
		title: "github",
		ariaLabel: "github",
		icon: Github,
	},
	{
		href: cv,
		title: "cv",
		ariaLabel: "cv",
		icon: FileUser,
	},
];

const techStack = [
	"Laravel",
	"NextJS",
	"Astro",
	"React",
	"Svelte",
	"Flutter",
	"TailwindCSS",
	"Javascript",
	"Typescript",
	"PHP",
	"Java",
	"Python",
	"bootstrap",
	"MySQL",
	"PostgreSQL",
	"Prisma",
	"Bun",
];
---

<Layout title="Fahridana Ahmad Rayyansyah">
	<article id="hero" class="max-w-5xl w-full mx-auto">
		<section class="min-h-dvh flex flex-col justify-center items-center">
			<div
				class="w-full flex flex-col md:flex-row justify-between items-stretch">
				<div class="max-w-2xl flex flex-col justify-evenly mb-4">
					<div class="text-4xl">
						<h1>
							Hi,<span class="wave">👋</span> I'm Fahridana Ahmad Rayyansyah,
						</h1>
						<TypingAnimation client:visible />
						<p class="text-[#8d7e61] mt-2">
							Proud Bug Maker & Solver
						</p>
					</div>
					<div class="flex gap-2">
						{
							social.map((item) => (
								<SocialButton
									href={item.href}
									title={item.title}
									ariaLabel={item.ariaLabel}
									icon={item.icon}
								/>
							))
						}
					</div>
				</div>
				<Image
					width={300}
					height={219}
					src={cat}
					alt="A pixel animation featuring a black cat with a waving tail sitting on grass. The black cat has yellow eyes and is wearing a red collar with a gold bell."
					loading={"eager"}
				/>
			</div>
			<div class="absolute bottom-6 left-1/2 transform-translate-x-12">
				<a
					href="#about-me"
					class="arrow-down"
					aria-label="arrow-down"
					title="arrow-down"></a>
			</div>
		</section>
	</article>
	<article id="about-me" class="max-w-5xl w-full mx-auto">
		<section class="my-6">
			<h2 class="text-3xl font-semibold mb-2">About Me</h2>
			<p class="text-base md:text-xl leading-relaxed mb-6">
				I'm an Informatics Engineering student specializing in front-end
				web development, with experience using frameworks like React,
				Astro, and Next.js. I have also built projects with Laravel for
				backend development. Currently, I'm exploring mobile development
				with Flutter and diving into machine learning to expand my
				technical expertise.
			</p>
			<p class="text-base md:text-xl leading-relaxed mb-6">
				I enjoy working on challenging projects, experimenting with new
				tools, and finding efficient ways to build great web
				applications. Outside of coding, I spend time gaming, exploring
				new hobbies, and learning about technology and self-improvement.
			</p>
		</section>
	</article>
	<article id="tech-stack" class="max-w-5xl w-full mx-auto">
		<article class="my-6">
			<h2 class="text-3xl font-semibold mb-2">Tech Stack</h2>
			<div class="flex flex-wrap gap-3">
				{
					techStack.map((tech: string) => (
						<TechStack tech={tech} size="medium" />
					))
				}
			</div>
		</article>
	</article>
	<article id="projects" class="max-w-5xl w-full mx-auto">
		<section class="my-6">
			<h2 class="text-3xl font-semibold mb-2">Featured Projects</h2>
			<div class="flex flex-col">
				{
					sortedPersonalProjects.map(
						(project: Project, index: number) => (
							<ProjectCard
								project={project.data}
								href={`assets/projects/${project.slug}/cover.webp`}
								isReverse={index % 2 === 0}
							/>
						)
					)
				}
				<div class="text-center text-2xl my-16">
					<div
						class="flex justify-center items-center w-full h-full"
						style="opacity: 1; transform: none; will-change: auto;">
						<p>See More...</p>
					</div>
				</div>
			</div>
		</section>
	</article>
	<Navbar />
</Layout>

<style>
	.wave {
		display: inline-block;
		animation: wave 2s infinite;
		transform-origin: 70% 70%;
	}

	.arrow-down {
		display: inline-block;
		opacity: 0;
		width: 24px;
		height: 24px;
		border: solid 2px transparent;
		border-bottom-color: #8d7e61;
		border-right-color: #8d7e61;
		transform: rotate(45deg);
		animation: arrow-bounce 2s infinite;
	}

	@keyframes arrow-bounce {
		0%,
		100% {
			transform: translateY(0) rotate(45deg);
			opacity: 0;
		}
		50% {
			transform: translateY(10px) rotate(45deg);
			opacity: 1;
		}
	}

	@keyframes wave {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(14deg);
		}
		20% {
			transform: rotate(-8deg);
		}
		30% {
			transform: rotate(14deg);
		}
		40% {
			transform: rotate(-4deg);
		}
		50% {
			transform: rotate(10deg);
		}
		60% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
</style>
