---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Navbar from "@/components/ui/nav/Navbar.astro";
import TypingAnimation from "@/components/ui/TypingAnimation";
import SocialButton from "@/components/ui/SocialButton.astro";
import cat from "@/../public/assets/hero-section-animation.gif";
import cv from "/assets/cv2.pdf";
import { Github, Linkedin, Mail, FileUser } from "lucide-react";
import ProjectCard from "@/components/ui/ProjectCard";
import TechStack from "@/components/ui/TechStack.astro";
import { getCollection } from "astro:content";
import type { Project } from "@/models/project";
import SplashScreen from "@/components/SplashScreen.astro";
import HoverMe from "@/components/HoverMe.astro";

const personalProjects = await getCollection("projects");
const sortedPersonalProjects = personalProjects.sort(
	(a: Project, b: Project) => (a.data.date > b.data.date ? -1 : 1)
);

const social = [
	{
		href: "mailto:fahridanaaa@gmail.com",
		title: "email",
		ariaLabel: "email",
		icon: Mail,
	},
	{
		href: "https://www.linkedin.com/in/fahridana-ahmad-rayyansyah/",
		title: "linkedIn",
		ariaLabel: "linkedIn",
		icon: Linkedin,
	},
	{
		href: "https://github.com/Fahridanaa",
		title: "github",
		ariaLabel: "github",
		icon: Github,
	},
	{
		href: cv,
		title: "cv",
		ariaLabel: "cv",
		icon: FileUser,
	},
];

const languages = [
	{ language: "English", greeting: "Hi" },
	{ language: "Spanish", greeting: "Hola" },
	{ language: "French", greeting: "Bonjour" },
	{ language: "German", greeting: "Hallo" },
	{ language: "Japanese", greeting: "こんにちは" },
	{ language: "Mandarin", greeting: "你好" },
	{ language: "Arabic", greeting: "مرحبا" },
	{ language: "Hindi", greeting: "नमस्ते" },
	{ language: "Indonesia", greeting: "Halo" },
];

const techStack = [
	{ name: "Laravel", type: "backend" },
	{ name: "NextJS", type: "frontend" },
	{ name: "Astro", type: "frontend" },
	{ name: "React", type: "frontend" },
	{ name: "Svelte", type: "frontend" },
	{ name: "Flutter", type: "frontend" },
	{ name: "TailwindCSS", type: "frontend" },
	{ name: "Typescript", type: "frontend" },
	{ name: "PHP", type: "backend" },
	{ name: "Java", type: "backend" },
	{ name: "Python", type: "backend" },
	{ name: "bootstrap", type: "frontend" },
	{ name: "MySQL", type: "database" },
	{ name: "PostgreSQL", type: "database" },
	{ name: "Prisma", type: "database" },
];
---

<Layout title="Fahridana Ahmad Rayyansyah">
	<article id="hero" class="max-w-5xl w-full mx-auto">
		<section class="min-h-dvh flex flex-col justify-center items-center">
			<div
				class="w-full flex flex-col-reverse items-center sm:flex-row justify-between sm:items-stretch">
				<div class="max-w-2xl flex flex-col justify-evenly mb-4">
					<div class="text-md sm:text-2xl lg:text-4xl">
						<h1>
							Hi,<span class="wave">👋</span> I'm Fahridana Ahmad Rayyansyah,
						</h1>
						<TypingAnimation client:visible />
						<p class="text-[#8d7e61]">Proud Bug Maker & Solver</p>
					</div>
					<div class="flex gap-2">
						{
							social.map((item) => (
								<SocialButton
									href={item.href}
									title={item.title}
									ariaLabel={item.ariaLabel}
									icon={item.icon}
								/>
							))
						}
					</div>
				</div>
				<Image
					width={300}
					height={219}
					src={cat}
					alt="A pixel animation featuring a black cat with a waving tail sitting on grass. The black cat has yellow eyes and is wearing a red collar with a gold bell."
					loading={"eager"}
				/>
			</div>
			<div class="absolute bottom-6 left-1/2 -translate-x-1/2">
				<a
					href="#about-me"
					class="arrow-down"
					aria-label="arrow-down"
					title="arrow-down">
				</a>
			</div>
		</section>
	</article>
	<!-- <article id="about-me" class="max-w-5xl w-full mx-auto">
		<section class="my-6">
			<h2 class="text-3xl font-semibold my-12 text-center">About Me</h2>
			<p class="text-base md:text-xl leading-loose mb-6 text-center">
				I'm an Informatics Engineering student specializing in front-end
				web development, with experience using frameworks like React,
				Astro, and Next.js. I have also built projects with Laravel for
				backend development. Currently, I'm exploring mobile development
				with Flutter and diving into machine learning to expand my
				technical expertise.
			</p>
			<p class="text-base md:text-xl leading-loose mb-6 text-center">
				I enjoy working on challenging projects, experimenting with new
				tools, and finding efficient ways to build great web
				applications. Outside of coding, I spend time gaming, exploring
				new hobbies, and learning about technology and self-improvement.
			</p>
		</section>
	</article> -->
	<article id="tech-stack" class="max-w-5xl w-full mx-auto">
		<section class="my-6">
			<h2 class="text-3xl font-semibold my-12 text-center">Tech Stack</h2>
			<div class="flex flex-wrap gap-3">
				{
					techStack.map((tech: { name: string; type: string }) => (
						<TechStack tech={tech.name} size="medium" />
					))
				}
			</div>
		</section>
	</article>
	<article
		id="projects"
		class="relative max-w-5xl w-full mx-auto overflow-hidden">
		<section class="my-6">
			<h2 class="text-3xl font-semibold mt-12 text-center">
				Featured Projects
			</h2>
			<div class="hidden lg:flex justify-end w-full mr-12">
				<HoverMe />
			</div>
			<div class="flex flex-col justify-center items-center">
				{
					sortedPersonalProjects.map(
						(project: Project, index: number) => (
							<>
								<ProjectCard
									project={project.data}
									href={`/assets/projects/${project.slug}/cover.webp`}
									isReverse={index % 2 === 0}
									client:load
								/>
							</>
						)
					)
				}
				<div class="text-center text-2xl my-16">
					<div
						class="flex justify-center items-center w-full h-full"
						style="opacity: 1; transform: none; will-change: auto;">
						<p>
							Checkout out more on my <a
								href="https://github.com/Fahridanaa"
								target="_blank"
								class="text-[#2E5C37] relative inline-block transition-all duration-300 hover:no-underline">
								<span class="relative">
									Github
									<span
										class="absolute left-0 bottom-0 w-0 h-[2px] bg-[#2E5C37] transition-all duration-300 group-hover:w-full"
									></span>
								</span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</section>
	</article>
	<article id="contact" class="max-w-5xl w-full mx-auto">
		<h2 class="text-lg font-semibold text-center">Want to Collaborate?</h2>
		<h2 class="text-4xl font-bold text-center">Let's Have a Chat</h2>
		<section class="flex flex-col justify-center items-center gap-2">
			<p class="text-base md:text-xl leading-loose mb-6 text-center">
				Feel free to reach out to me if you have any questions, want to
				collaborate on a project, or just want to chat. I'm always open
				to new opportunities and connections.
			</p>
			<div class="flex gap-2">
				{
					social.map((item) => (
						<SocialButton
							href={item.href}
							title={item.title}
							ariaLabel={item.ariaLabel}
							icon={item.icon}
						/>
					))
				}
			</div>
		</section>
	</article>
	<footer
		class="max-w-5xl text-gray-500 w-full mx-auto mt-24 mb-6 text-center">
		<p class="text-base md:text-lg leading-loose">
			&copy; {new Date().getFullYear()} Fahridana Ahmad Rayyansyah. All rights
			reserved.
		</p>
		<p class="text-base md:text-lg leading-loose">
			This site showcases my personal projects. Content may not be used
			without permission.
		</p>
	</footer>
	<Navbar />
	<SplashScreen languages={languages} />
</Layout>

<style>
	.wave {
		display: inline-block;
		animation: wave 2s infinite;
		transform-origin: 70% 70%;
	}

	.arrow-down {
		display: inline-block;
		opacity: 0;
		width: 24px;
		height: 24px;
		border: solid 2px transparent;
		border-bottom-color: #8d7e61;
		border-right-color: #8d7e61;
		transform: rotate(45deg);
		animation: arrow-bounce 2s infinite;
	}

	a {
		position: relative;
	}

	a::after {
		content: "";
		position: absolute;
		width: 0;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: #2e5c37;
		transition: width 0.3s ease-in-out;
	}

	a:hover::after {
		width: 100%;
	}

	@keyframes arrow-bounce {
		0%,
		100% {
			transform: translateY(0) rotate(45deg);
			opacity: 0;
		}
		50% {
			transform: translateY(10px) rotate(45deg);
			opacity: 1;
		}
	}

	@keyframes wave {
		0% {
			transform: rotate(0deg);
		}
		10% {
			transform: rotate(14deg);
		}
		20% {
			transform: rotate(-8deg);
		}
		30% {
			transform: rotate(14deg);
		}
		40% {
			transform: rotate(-4deg);
		}
		50% {
			transform: rotate(10deg);
		}
		60% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
</style>
